datasets
diffusers
fire
gradio
h5py
huggingface_hub
imageio
jaxtyping
matplotlib
numpy
opencv_python
pandas
Pillow
plyfile
torch
torchvision
ninja
git+https://github.com/facebookresearch/pytorch3d.git@stable
scipy
scikit-image
submitit
tqdm
trimesh
wandb
xformers
timm==0.6.7
transformers
accelerate
easydict
git+https://github.com/nerfstudio-project/gsplat.git@v0.1.11